* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Kanit', sans-serif;
}

body {
  background-color: rgb(9, 1, 26);
  color: antiquewhite;
}

img-logo{
  width: 50px;
  height: 50px;
}



/* Galeria */
.galeria h1{
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.container-gal {
  display: flex;
  justify-content: space-around;
}
.container-gal img {
  width: 600px;
}


/* parte Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(22, 19, 36);
  
}

.nav-container{
display: flex;
justify-content: flex-end;
}

.header-nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
  font-size: 18px;
}

.header-nav a {
  text-decoration: none;
  color: antiquewhite;
}

.header-nav a:hover {
  color: #f4a261;
}

.header-menu {
  display: none;
  cursor: pointer;
}


/* Parte do Home */
.homepart-container {
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.homepart-container img {
  width: 40%;
}

.homepart-container h1 {
  width: 15%;
  font-size: 1.5em;
}


/* Parte do sobre */

.container-about {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 45px;
  padding: 20px;
}

.sobre h1 {
  padding-top: 45px;
  display: flex;
  justify-content: center; 
  /* justify é horizontal */
  /* aligh é vertical  */
}



.sobre p {
  display: flex;
  font-size: 24px;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 20px;
}


.contato h1{
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.container-cont {
  display: flex;
  width: 100%;
  justify-content: center;
}


form {
  margin-top: 25px;
}

form fieldset {
  margin:20px;
  border: 1px solid #CCC;
  border-radius: 10px;
  padding: 15px;

}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #CCC;
}

form button {
  background-color: rgb(16, 16, 50);
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: #ae7c18;
}


footer {
  display: flex;
  background-color:rgb(16, 16, 50);
  padding: 20px 0;
  justify-content: center;
}

footer a {
  background  : rgb(16, 16, 50);
  text-decoration: none;
  margin: 20px;
  color: #f00;
  border-radius: 100px; 

}

@media (max-width: 480px) {
  .header-nav {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .header img {
    width: 10px;
  }

  .header-nav ul {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .header-nav ul li {
    width: 100%;
  }

  .header-menu {
    display: block;
  }

  /* .header-nav.show {
    display: flex;
  } */

  main {
    width: 100%;
  }

  .nav-container{
    display: flex;
    flex-direction: column;
    }

  .homepart-container img {
    width: 100%;
  }
  
  .about-container {
    display: flex;
    width: 100%;
  }

  .sobre p {
    display: flex;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 20px;
  }

  .grid {
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .container-gal img {
    width: 50%;
  }

  .grid .col img {
    width: 100%;
  }
}

.form input {
  width: 50%;
}

