* { 
  background-color: rgb(9, 1, 26);
  margin: 0;
  padding: 0;
  color: antiquewhite;
  font-family: Kanit;
  /* background: rgb(16, 16, 50); */
 }  


/* body { */
  /* achar uma fonte bacana para o site */
  /* background-color: rgb(171, 109, 27); */
  /* color: #000000;
} */

.header-nav {
  display: flex;
  width: 100%;
  position: absolute;
  margin: auto;
  /* background: red; */
  text-align: center;
  justify-content: flex-end;
  flex-direction: row;
}

.header-nav ul{
  display: flex;
  font-size: 24px;
  gap: 10px;
  margin: 10px;
  padding: 30px;
  /* margin: auto; */
  list-style: none;
}


.container {
  display: inline-block;
}

img {
  margin: auto;
  max-width:200px;
  max-height:150px;
  padding-top: 80px;
  width: auto;
  height: auto;
}
.sobre p{
  background-color: aquamarine;
  color: rgb(16, 16, 50);
}


.grid {
  display: flex;
  .col {
      img {
          width: 80%;
      }
  }
}

/* formulário */
form {
  fieldset {
      border: 1px solid #CCC;
      border-radius: 10px;
      padding: 15px;
      legend {
          font-weight: bold;
      }
      label {
          margin-top: 10px;
          display: inline-block;
      }
      input {
          border: 1px solid #CCC;
          padding: 10px;
          box-sizing: border-box;
          width: 100%;
      }
      button {
          border: 0;
          background: rgb(255, 255, 255);
          color: rgb(16, 16, 50);
          padding: 10px 20px;
          margin-top: 10px;
      }
      .parsley-errors-list {
          color: rgb(16, 16, 50);
          margin-left: 20px;
      }
  }
}